@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
  font-family: 'Open Sans';
}

button{
  border-radius: 0;
  width: 100%;
  height: 50%;
}

button[type="submit"] {
  -webkit-appearance:none; -webkit-border-radius:0;
}

button i{
  float: right;
  padding-right: 30px;
  margin-top: 3px;
}

button.a{
  background-color: #1aaaf8;
}

button.b{
  background-color: #00cbca;
}

button.c{
  background-color: #00cbff;
}

button.d{
  background-color: #00cbac;
}

#tip{
  text-align: left;
  color: #c0c9ce;
  font-size: 14px;
}

#hostname{
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  color: #8f9ea8;
  font-size: 24px;
}

#content-container{
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: table;
  padding: 10px;
  max-width: 940px;
  height: 100%;
}
#content-container-center{
  display: table-cell;
  text-align: center;
}

#content-container-center h3{
  color: #254356;
}

#choice{
  transition: all 300ms linear;
  line-height: 1.3em;
  display: inline;
  vertical-align: middle;
  font-size: 3em;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice button{
  display: block;
  height: 80px;
  width: 330px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size:18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

#choice button.a:hover{
  background-color: #1488c6;
}

#choice button.b:hover{
  background-color: #00a2a1;
}

#choice button.c:hover{
  background-color: #00a2a1;
}

#choice button.d:hover{
  background-color: #00a2a1;
}

#choice button.a:focus{
  background-color: #1488c6;
}

#choice button.b:focus{
  background-color: #00a2a1;
}

#choice button.c:focus{
  background-color: #00a2a1;
}

#choice button.d:focus{
  background-color: #00a2a1;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}


select{
	  -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   position: relative;
}
a{
    outline: none;
}
.Wrapper{
	width: 100%;
	margin: 0 auto;
	/*height: 100%;*/
	overflow: hidden;
	/*background-color: red;*/
}


.LogoSection{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 2px solid #EAE6E3;
}
.LogoSection .LogoSectionContainer{
	width: 100%;
	margin: 50px auto;
	overflow: hidden;
}
.LogoSection .LogoSectionContainer img{
	width: 200px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}


.LoginSection, 
.CustomerSection{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.LoginSection .LoginSectionContainer{
	width: 100%;
	margin: 50px auto;
	overflow: hidden;
}
.LoginSection .LoginSectionContainer form{
	width: 70%;
	margin: 0px auto 40px auto;
	overflow: hidden;
}
.LoginSection .LoginSectionContainer form .Input{
	width: 100%;
	margin: 40px auto 0px auto;
	overflow: hidden;
}
.LoginSection .LoginSectionContainer form .Input input{
	width: 100%;
	border:none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	font-size: 15px;
	padding: 5px 5%;
	outline: none;
	color: #737373;
	border-bottom: 1.3px solid #9C9C9C;
}
.LoginSection .LoginSectionContainer form .Input input[type=submit]{
	width: 100%;
	margin: 30px auto;
	border:none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	/*font-size: 14px;*/
	padding: 15px;
	color: #fff;
	background-color: #9f2322 ;
	font-weight: bold;
	outline: none;
	border-bottom: 0px solid #E3E3E3;
}
.LoginSection .LoginSectionContainer form .Input input[type=button]{
	width: 100%;
	margin: 30px auto;
	border:none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	/*font-size: 14px;*/
	padding: 15px;
	color: #fff;
	background-color: #9f2322 ;
	font-weight: bold;
	outline: none;
	border-bottom: 0px solid #E3E3E3;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #737373;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #737373;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #737373;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: #737373;
  font-weight: bold;
}
